<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>App IIWA</string>
	<key>CFBundleExecutable</key>
	<string>App-IIWA</string>
	<key>CFBundleGetInfoString</key>
	<string>App IIWA - Sistema de Procesamiento de Padrones</string>
	<key>CFBundleIconFile</key>
	<string>generated-3fdac384342fb77b03e210e72710937608a0d87792143925fd63cf7974339dfd.icns</string>
	<key>CFBundleIdentifier</key>
	<string>mx.sistema.iiwa.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>App-IIWA</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.5</string>
	<key>CFBundleVersion</key>
	<string>1.2.5</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
